# Education

## Your University - M.S. in Your Major

- **Period:** Sep 2022 - Jun 2024
- **Advisors:** Prof. Name
- **Thesis:** Your Thesis Title

## Your University - B.S. in Your Major

- **Period:** Sep 2018 - Jun 2022
